@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--tw-dark);
}

/* define components if needed
@layer components {
  .custom-horizontal-range {
    transform: rotate(270deg);
  }
} */
